*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: block;
  text-align:center;
  background-color: #0dcaf047;
  margin:20px;
}


#myMap{
 margin:10px;
 height:400px;
 border:2px solid black;
}
.input-city{
  text-align: center;
  width: 40%;
  margin:30px auto;

}
#cityAQI{
  width: 30%;
}
#city{
  width: 68%;
}
#geoloc{

  margin-top:20px;
  margin-bottom: 10px;
  width: auto;
  font-size: 18px;
  font-family: 'Farro', sans-serif;
  background-color: white;
  color: black;
  border-color: black;
}
#value{
  margin: auto;
  font-family: 'Farro', sans-serif;
}

ul{
  list-style-type: none;
}

#aqi{
 margin:10px;
}
#pm10{
  margin:10px;
  color:#003366;
}
#pm25{
  margin: 10px;
  color:#cc3300;
}
#container1{
  width: 100%;
  border: 1px solid black;
  font-size: 16px;
  font-family: 'Farro', sans-serif;
  margin-bottom: 10px;
}

#AQI{
  width: 10%;
  text-align: center;
  background-color: #ffffff;
}
#good{
  width: 15%;
  text-align: center;
  background-color: #99ff66;
}
#moderate{
  width: 15%;
  text-align: center;
  background-color: #ffff66;
}
#unhealthy-{
  width: 15%;
  text-align: center;
  background-color: #ff9900;
}
#unhealthy{
  width: 15%;
  text-align: center;
  background-color: #ff531a;
}
#unhealthy--{
  width: 15%;
  text-align: center;
  background-color: #b32d00;
}
#hazardous{
  width: 15%;
  text-align: center;
  background-color: #993366;
}
/*Smaller Smartphone*/
@media all and (max-width:480px) {


  #myMap{
   margin:20px auto;
   width: 100%;
   height:280px;
  }
  .input-city{

    width: 95%;
    margin: auto;
  }


  #container1{
    display: block;
    width: 100%;
    margin: auto;
  }

  #AQI{
    width: 100%;
    border-bottom: 1px black solid;
  }
  #good{
    width: 100%;
    border-bottom: 1px black solid;
  }
  #moderate{
    width: 100%;
    border-bottom: 1px black solid;
  }
  #unhealthy-{

    width: 100%;
    border-bottom: 1px black solid;
  }
  #unhealthy{
    width: 100%;
    border-bottom: 1px black solid;
  }
  #unhealthy--{
    width: 100%;
    border-bottom: 1px black solid;
  }
  #hazardous{
    width: 100%;
  }
  #geoloc{
    margin: 10px auto;
    font-size: 15px;
  }

}

/*Tablet & large Smartphone*/
@media all and (min-width:481px) and (max-width:768px){
  .input-city{
   width: 100%;
  }
  #geoloc{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #myMap{
   height:350px;
  }
  #container1{
    width: 100%;
    font-size:10px;
    margin: auto;
  }

  #AQI{
    border-right: 1px black solid;
  }
  #good{
    border-right: 1px black solid;
  }
  #moderate{
    border-right: 1px black solid;
  }
  #unhealthy-{
    border-right: 1px black solid;
  }
  #unhealthy{
    border-right: 1px black solid;
  }
  #unhealthy--{
    border-right: 1px black solid;

  }

}

@media all and (min-width:769px){
  #AQI{
    border-right: 1px black solid;
  }
  #good{
    border-right: 1px black solid;
  }
  #moderate{
    border-right: 1px black solid;
  }
  #unhealthy-{
    border-right: 1px black solid;
  }
  #unhealthy{
    border-right: 1px black solid;
  }
  #unhealthy--{
    border-right: 1px black solid;

  }

}
